#apartadoInformacionGeneral{
    float:left;
    width:88%;
    margin-left: 4%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
}

#apartadoDatos{
    float:left;
    width:50%;
    margin-top: 2%;
}

#primeraParte{
    float:left;
    width:70%;
    padding-left: 30%;
}


#colorVerde{
    color:lightgreen;
}

#colorRojo{
    color:lightcoral;
}

#colorMorado{
    color:lightskyblue;
}

#apartadoEscudo {
    float:left;
    width:50%;
    margin-top: 2%;
    height: 264px;
    display: flex;
    align-items: center;
}

#imagenUsuario{
    width:30%;
    border: 2px solid black;
}

#apartadoFormacionEquipo{
    width:88%;
    float:left;
    margin-left: 4%;
}

table {
    float:left;
    border:3px solid black;
    border-radius: 5px;
    margin-left: 4%;
    width:92%;
    margin-bottom: 5%;
}

table *{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}


th {
    background-color: black;
    color:White;
    width:25%;
}

tr:nth-child(even) {
    background-color: #e6e6ff;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

td {
    text-align: center;
    font-weight: bold;
}

#apartadoImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    height:82px;
    margin-left: 32%;
    width:82px;
    overflow: hidden;
    border:3px solid black;
    border-radius: 50%;
}

#imagenUsuarioEquipo{
    background-color: white;
    width: 100%;  
}