.datosDelSolicitante{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom:1px solid black;
    width:80%;
    float:left;
    margin-top: -1%;
}

#apartadoSolicitante{
    border:1px solid pink;
    float:left;
    width:46%;
    margin-left:4%;
}

.agruparSolicitante{
    float:left;
    width:46%;
    margin-left: 4%;

}

.agruparDatosSolicitante {
    float:left;

    margin-top: 5%;
    width:70%;
}

.datosYFoto{
    float:left;
    width:100%;

}



.parteImagenFormulario{
    display:flex;
    justify-content: center;
    align-items: center;
    height:92px;
    width:18%;
    margin-top: -1%;
    border:2px solid black;
    border-radius: 50%;
    overflow: hidden;
}



.apartadoFormulario{
    float:left;
    width:100%;
}

.labelFormulario{
    float:left;
    width:20%;
    background-color: white;
    border: 1px solid gray;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold; 


    margin-bottom:2%;
}

.escribirFormulario{

    float:left;
    width:70%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 0.5%;
    margin-bottom:2%;
    padding-bottom: 0.5%;
    border: 1px solid transparent;
}

#agruparEquipoSolicitado{
    float:left;

    width:44%;
}

#apartadoBotones{
    float:left;
    width:92%;
    margin-top: 2%;

    margin-left: 4%;
}

.botonFormulario{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:white;
    padding:1%;
    border-radius: 5px;
}

#botonAceptar{
    margin-left: 36%;
    margin-right: 2%;
    border: 1px solid lightgreen;
    background-color: lightgreen;
}

#botonDenegar {
    border: 1px solid red;
    background-color: red;
    margin-bottom: 3%;
}